@media only screen and (max-width:1277px){
    .bg-faq{
        padding: 50px;
        background-image: none;
    }
    .content-FAQ{
        padding: 0px !important;
    }
}
@media only screen and (max-width:1200px){
    .menu ul li a{
        padding: 0px 15px 0px 15px;
    }
    .donate{
        width: 30%;
    }
    
}
@media only screen and (max-width:1199px){
    .skill-bars li .progress span{
        top: 250px;
        font-size: 13px;
        padding: 5px 5px;
    }
    .pst-sub a{
        font-size: 12px;
    }
    .pst-sub{
        width: 40%;
    }
    .frame .logo-cate-1 img{
        width: 25%;
    }
    .frame .text-center h4{
        padding:0px 10px 20px 10px;
        margin: 0;
    }
    .frame .text-center p{
        padding:0px 20px 30px 10px;
        margin: 0;
    }
    .frame .text-center .read{
        margin-bottom: 50px;
    }
}
@media only screen and (max-width:544px){
    .flex-contact-item .text-contact{
        font-size: 9px;
    }
    .flex-contact-item .icon-img{
        font-size: 8px;
    }
    .quetion p{
        font-size: 9px;
    }
}

@media only screen and (max-width:414px){
    .header-area{
        display: none;
    }
    nav .container .navbar-brand img{
        width: 20%;
        margin-right: 10px;
    }
    nav .container .navbar-brand{
        font-size: 20px;
    }
    #slide .slide-item .slide-content h1{
        font-size: 30px;
    }
    #slide .slide-item .slide-content p{
        font-size: 13px;
        width: 80%;
        margin-left: 10%;
    }
    #slide{
        height: 600px;
    }
    #slide::before{
        height: 600px;
    }
    #slide .slide-item{
        height: 600px;
    }
    .content-fun ul li a img{
        width: 80%;
    }
    .pst-sub{
        width: 70%;
        left: 70%;
    }
    .pst-sub a{
        font-size: 10px;
    }
    
}
@media only screen and (max-width:991px){
    .menu ul li{
        display: block;
    }
    .btn-about{
        width: 20%;
    }
    .menu ul{
        margin: 0 !important;
        padding: 0 !important;
    }
    .menu{
        display: block;
    }
    .dropdown-menu{
        position: relative !important;
        width: 100%;
    }
    .donate{
        width: 20%;
    }
    .main-wrapper p{
        font-size: 13px;
        margin-top: 10px;
    }
    .skill-bars li .progress span{
        top: 200px;
    }
    .read{
        padding: 5px 10px;
        width: 70%;
        margin-left: 13%;
    }
    .title h1{
        font-size: 40px;
    }
    .text-content p{
        font-size: 13px;
    }
    .flex-money .text-money{
        font-size: 13px;
    }
    
    .frame{
        height: 580px;
    }
    .text-price p{
        font-size: 15px;
    }
    .frame-team strong{
        font-size: 15px;
    }
    .frame-team p{
        font-size: 12px;
    }
    .frame-team {
        padding: 10px 20px ;
    }
    .frame-team-1{
        top: 73%;
    }
    .title-become p{
        font-size: 15px;
    }
    .title-become h1{
        font-size: 35px;
    }
    .title-about-1 p {
        font-size: 15px;
    }
    .title-about-1 h2{
        font-size: 20px;
        
    }
    
    .title-about-2 h2{
        font-size: 30px;
    }
    .text-ab-1 i{
        font-size: 14px;
    }
    .text-ab-1 p{
        font-size: 10px;
    }
    .icon-ab img{
        width: 15%;
    }
    .icon-ab .text-icon{
        font-size: 15px;
    }
    .icon-ab p{
        font-size:10px ;
    }
    
    .frame .logo-cate-1{
        padding: 20px;
    }
    .frame .text-center h4{
        padding:0px 10px 10px 10px;
        font-size: 20px;
    }
    .frame .text-center p{
        padding:0px 20px 30px 10px;
        font-size: 15px;
    }
    .frame .text-center .read{
        margin-bottom: 50px;
    }
    .bgr-1 .frame-ab{
        height: 400px;
    }
    .bgr-frame-3::before,.bgr-frame-4::before,.bgr-frame-5::before{
        height: 400px;
    }
}
@media only screen and (max-width:1200px){
    .donate{
        width: 20%;
    }
}
@media only screen and (max-width:767px){
    .donate{
        width: 30%;
    }
    #slide .slide-item .slide-content h1{
        font-size: 60px;
    }
    #slide .slide-item .slide-content p{
        font-size: 15px;
        width: 80%;
        margin-left: 10%;
    }
    #slide{
        height: 700px;
    }
    #slide::before{
        height: 700px;
    }
    #slide .slide-item{
        height: 700px;
    }
    .main-wrapper p{
        margin-top: 20px;
    }
    .skill-bars li .progress span{
        top: 399px;
        font-size: 13px;
        padding: 5px 5px;
    }
    .read{
        width: 40%;
        margin-left: 30%;
    }
    .read a{
        font-size: 15px;
    }
    .title h1{
        font-size: 50px;
    }
    .text-content p{
        font-size: 15px;
    }
    .text-content strong{
        font-size: 18px;
    }
    .flex-money .text-money{
        font-size: 15px;
    }
    
    
    .flex-money {
        padding:0px 50px;
        margin-left: 5%;
    }
    .col{
        padding: 30px;
    }
    .category .container .row .col{
        padding: 30px 20px;
    }
    .category .container{
        height: 1700px;
    }
    .content-category{
        top: 200px;
    }
    
    
    
    
    .pd{
        padding-bottom: 10px;
    }
    .img-1{
        display: none;
    }
    
    .text-team{
        top: 90%;
    }
    .frame-team strong{
        font-size: 18px;
    }
    .frame-team p{
        font-size: 15px;
    }
    .frame-team {
        padding: 20px 30px ;
    }
    .content-team .col{
        padding-bottom: 60px;
    }
    .pst-sub{
        width: 40%;
    }
    .subscribe{
        width: 80%;
        margin-left: 0%;
    }
    .content-CTA h2{
        text-align: center;
    }
    .logo-bot img{
        width: 30%;
    }
    .logo-bot span{
        font-size: 15px;
    }
    .copyright p{
        font-size: 10px;
    }
    .contact-bot ul li{
        padding:0px 5px;
        border-radius: 2px;
    }
    .contact-bot ul li i{
        font-size: 9px;
    }
    .menu ul li a{
        padding: 10px;
        font-weight: 700;
    }
    .content-become{
        padding: 20px 0px 20px 90px !important;
       display: block;
       margin-left: auto;
       margin-right: auto;

    }
    .btn-about{
        width: 30%;
    }
    .img-ab-2{
        display: block;
    }
    .img-ab-1{
        display: none;
    }
    .title-about-1 p {
        font-size: 16px;
    }
    .title-about-1 h2{
        font-size: 29px;
    }
    .text-ab-1 i{
        font-size: 16px;
    }
    .text-ab-1 p{
        font-size: 13px;
    }
    .icon-ab .text-icon{
        font-size: 16px;
    }
    .icon-ab p{
        font-size:13px ;
    }
    .frame .logo-cate-1{
        padding: 40px;
    }
    .frame .logo-cate-1 img{
        width: 15%;
    }
    .frame .text-center h4{
        padding:0px 10px 20px 10px;
        font-size: 30px;
    }
    .frame .text-center p{
        padding:0px 20px 30px 10px;
        font-size: 18px;
    }
    .frame .text-center .read {
        padding: 20px;
    }
    .bgr-1 .frame-ab{
        height: 500px;
    }
    .bgr-frame-3::before,.bgr-frame-4::before,.bgr-frame-5::before{
        height: 500px;
    }
    .img-2{
        display: none;
    }
}
@media only screen and (max-width:578px){
    
    .Become-Volunteer{
        height: 620px;
    }
}
@media only screen and (max-width:575px){
    .BG{
        position: absolute;
        top:0;
        left: 35%;
    }
    .hover img{
        height: 150px;
        width: 150px;
    }
    .hover {
        width: 150px;
        height: 150px;
      }
    .title-footer,.list-footer{
        text-align: center;
    }
    
}
@media only screen and (max-width:563px){
    .donate{
        width: 30%;
    }
}
@media only screen and (max-width:519px){
    .flex-money {
        padding:0px 16px;
        margin-left: 5%;
    }
    .skill-bars li .progress span{
        top: 375px;
        font-size: 13px;
        padding: 5px 5px;
    }
    .title h1{
        font-size: 35px;
    }
    .flex-money .text-money{
        font-size: 13px;
    }
    .fun .container .row .col{
        padding: 30px 0px 30px 0px;
    }
    .copy-1{
        display: none;
    }
    .copy-2{
        display: block;
    }
    .hr-bot{
        display: block;
    }
    .contact-bot-1{
        display: none;
    }
    .contact-bot-2{
        display: block;
    }
}
@media only screen and (max-width:490px){
    .skill-bars li .progress span{
        top: 360px;
    }
    
    
}
@media only screen and (max-width:474px){
    .donate{
        width: 35%;
    }
    .skill-bars li .progress span{
        top: 345px;
        font-size: 15px;
        padding: 5px 5px;
    }
    
    .pst-sub{
        width: 45%;
    }
    .hover img{
        height: 110px;
        width:110px;
    }
    .hover {
        width: 110px;
        height: 110px;
      }
      .btn-about{
        width: 38%;
    }
}
@media only screen and (max-width:431px){
    .donate{
        width: 40%;
    }
    .skill-bars li .progress span{
        top: 320px;
        
    }
    
    
    
}
@media only screen and (max-width:410px){
    
    .skill-bars li .progress span{
        top: 305px;
        
    }
}
@media only screen and (max-width:375px){
    
    .skill-bars li .progress span{
        top: 285px;
        
    }
    .BG{
        position: absolute;
        top:0;
        left: 32%;
    }
    .content-fun ul li{
        display: inline-block;
        padding: 0px ;
    
    }
    .date{
        top:86%;
        padding: 0px 20px;
    }
    .date .number{
        font-size: 20px;
    }
    .date .month{
        font-size: 9px;
        padding-bottom: 10px;
    }
    
    .pst-sub{
        position: relative;
        left: 25%;
        width: 50%;
        margin-top: 10px;
        padding: 10px;
    }
    .subscribe input{
        height: 50px;
    }
    .subscribe{
        width: 100%;
    }
    .btn-about{
        width: 45%;
    }
}
@media only screen and (max-width:370px){
    .sent a{
        font-size: 12px;
    }
}
@media only screen and (max-width:340px){
    
    .skill-bars li .progress span{
        top: 260px;
        
    }
}
@media only screen and (max-width:384px){
    .donate{
        width: 50%;
    }
    .flex-money {
        padding:0px 12px;
        margin-left: 5%;
    }
    .frame .text-center .read a {
    font-size: 13px;       
    }
}
@media only screen and (max-width:320px){
    #slide .slide-item .slide-content h1{
        font-size: 30px;
    }
    #slide .slide-item .slide-content p{
        font-size: 10px;
        width: 80%;
        margin-left: 10%;
    }
    #slide{
        height: 400px;
    }
    #slide::before{
        height: 400px;
    }
    #slide .slide-item{
        height: 400px;
    }
    #slide .slide-item .slide-content a{
        font-size: 12px;
    }
    .text-team{
        top: 85%;
    }
    .sent a{
        font-size: 10px;
    }
}